<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Eve Structure Timer needs calendar access to save timers locally on your device. Your calendar data is never shared or used for any other purpose.</string>
	<key>NSServices</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
